


$custom-dark-gray: #313030;
$custom-white: #fefefe;
$custom-red: #ff2d2d;
$custom-black: #000;
$custom-gray: #838383;
$custom-gray-lighter: #a7a7a7;
$custom-gray-light: #e5e5e5;
$custom-yellow:#fcdb00;
$custom-gray-darken:#010101;
$custom-gray-gray:#555555;